RewriteEngine On
RewriteBase /
RewriteRule ^([0-9a-fA-F][0-9a-fA-F]*)$ /view/$1
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

php_value memory_limit 32M

ErrorDocument 404 /system/application/errors/error_404.php
